<?xml version="1.0"?>
<launch>

  <arg name="model" default="" />
  <rosparam command="load" file="$(find robucar_control)/config/control$(arg model).yaml" />
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="robucar_joint_publisher robucar_velocity_controller --shutdown-timeout 3"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_gps">
    <rosparam command="load" file="$(find robucar_control)/config/localization_gps.yaml" />
    <remap from="odometry/filtered" to="/odometry/filtered_gps" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
    <param name="wait_for_datum" value="true"/>
    <rosparam param="datum">[45.762428, 3.109898, -1.5707963, map, base_footprint]</rosparam>
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="1.5707963"/>
    <param name="zero_altitude" value="false"/>
    <param name="publish_filtered_gps" value="false"/>
    <param name="broadcast_utm_transform" value="false"/>

    <remap from="imu/data" to="/imu/data" />
    <remap from="gps/fix" to="/navsat/fix" />
    <remap from="odometry/filtered" to="/odometry/filtered_gps" />
  </node>

  <!--Teleop -->
  <remap from="/joy_teleop/cmd_vel" to="/robucar_velocity_controller/cmd_vel"/>
  <remap from="/joy_teleop/cmd_ackermann" to="/robucar_velocity_controller/cmd_ackermann"/>
  <remap from="/joy_teleop/cmd_four_wheel_steering" to="/robucar_velocity_controller/cmd_four_wheel_steering"/>
  <include file="$(find robucar_control)/launch/teleop.launch" />
</launch>
