<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="/dev/input/js0" />

  <group ns="joy_teleop">

    <rosparam command="load" file="$(find robucar_control)/config/teleop.yaml" />

    <node pkg="joy" type="joy_node" name="joy_node">
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
    <node pkg="ackermann_controller" type="teleop_ackermann_joy.py" name="teleop_ackermann_joy"/>
    <node pkg="four_wheel_steering_controller" type="teleop_four_wheel_steering_joy.py" name="teleop_four_wheel_steering_joy"/>
  </group>

</launch>
