<?xml version="1.0"?>
<robot name="robucar_robot_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="laser_enabled" default="false" />
  <xacro:arg name="camera_enabled" default="false" />
  <xacro:arg name="navsat_enabled" default="true" />

  <xacro:include filename="$(find robucar_description)/urdf/robucar_4ws.urdf.xacro" />
  <xacro:include filename="$(find robucar_gazebo)/urdf/robucar.gazebo.xacro" />

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>

  <xacro:robucar />

  <xacro:robucar_robot_gazebo />

</robot>
